*{
    margin 0;
    padding: 0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif ;
}    

 body{
    background-color: aquamarine;
 }

 .container{
    width: 100%;
    height: 100vh;
 }

 .tittle{

    width: 10%0;
    display: flex;
    padding: 40px;
    justify-content: center;
 }

 .to-do-list-input{
    width: 100%;
    display: flex;
    padding: 40px;
    justify-content: center;
 }

 .to-do-list-input input{
    width: 50%;
    height: 70px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border: none;
    text-indent: 40px;
    font-size: 18px;
    outline: none;

 }

.to-do-list-input button{
width: 100;
height:70px;
transition: 0.5s;
display: flex;
justify-content: center;
align-items: center ;
} 

.to-do-list-input button{
   border-radius: 100px;
   height: 100px;
   transition: 100px;

}