
.vast-shadow-regular {
  font-family: "Vast Shadow", serif;
  font-weight: 400;
  font-style: normal;
}
*{
background-repeat: no-repeat;
background-size: cover;
    background-image: url(pages/Blarney_Castle-14-2017-gje.jpg)

}

.mybutton{

}